---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to my project'>
	<span class="font-myfont text-blue-500 font-bold text-5xl">Hello world!</span>
	<div class="text-red-600 text-6xl font-extrabold">
		Cruel 
	</div>
</Layout>



